<style>
    #a { background-color: #09C; width: 150px; height: 40px; margin: 30px 10px 20px 50px; display: block; font-family: "궁서";font-size: 28px; }
    #b {margin: 30px 10px 20px 50px;}
</style>




<p align="center">
    <a href = "/home/show" id= "a" text-align= "center">결과 보기</a>
</p>
<p align = "center" id="b">    
    <img src = "/assets/sin.jpg"/ alt="leaf" border="3px" width="500px" height="500px">
</p>