<style>
    .image{
        width : 150px;
        height: 200px;
    }
</style>



<h1>Class#index</h1>
<p>Find me in app/views/class/index.html.erb</p>
<a href = "/class/extra"><li>result</li></a>
<%= @res %>
<img src = "/assets/신1.PNG" style = "width: 200px; height: 200px"></img>
    
