<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <h1 align="center"><span style="font-size:35px; font-family: 궁서; color:red">신</span>이 <span style="font-size:35px; font-family: 궁서; color:blue;">나</span>를 만들때</h1>
</header>

<%= yield %>

<footer>
  <p style="text-align:center">허접해 보이지만.. 그림은 직접 그려 넣엇습니다 ㅎㅎ</p>
</footer>
</body>
</html>
